body {
    margin: 0;
    overflow-y: auto;
    overflow-x: auto;
}
.dailyPages {
    display: flex;
    flex-direction: column;
}

.controlPages {
    display: flex;
    margin: 0;
}

.taskSection {
    height: 89.5vh;
    width: 85%;
    justify-content: center;
    margin-top: -954px; 
    margin-left: 270px;

}

.time—É {        
    height: 40px;
    width: 102.1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5100ff;
}

.timeIndicator {
    margin: 0;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.contain {
    position: relative;
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.box1 {
    display: flex;
    position: relative;

    margin: 10px 0px 0px 0px;
    border: 2px solid #5200ff;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    gap: 10px;
}
.box2 {
    margin-top: 10px;
    margin: 10px 0px 0px 0px;
    border: 2px solid #5200ff;
    width: 400px;
    height: auto;
    border-radius: 10px;
    gap: 10px;
}
.box3 {
    margin-top: 10px;
    margin: 10px 0px 0px 0px;
    border: 2px solid #5200ff;
    width: 400px;
    height: auto;
    border-radius: 10px;
    gap: 10px;
}
.number {
    color: #000000;
    font-size: 20px;
    font-weight: 400;

}

.list {
    height: 60px;
    display: flex;
    margin-right: 0;
    margin-top: 0px;
    justify-content: space-between;
}





.plan {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-left: -380px;
    border: 1px solid #5200ff;
    border-radius: 5px;
    font-weight: 600;
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(53, 176, 253);
    transition: background-color 0.1s ease-in-out;
    margin-bottom: 10px;
}

.plan:hover {
    background-color: rgb(100, 211, 117);
    color: #000000;
}
.plan-yozuv {
    color: #000000;
}
.testAddTask {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    cursor: pointer;
}
.navbar-photo {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}
.clock {
    border: 1px solid #ffffff;
    border-radius: 12px;
    background-color: #fff;
    color: #5200ff;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 900;
}
.mainMenu {
    width: 270px;
    height: 89.5vh; 
    border: 1px solid #5200ff;
    border-top: 0;
}
.hr {
    height: 2px;
    background-color: #5200ff;
}
.userInfo {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* top: 50%;
    left: 50%;
    transform: translate(0%, 25%); */
    border-bottom: 1px solid #5200ff;
    height: 140px;
}

.userPic {
    height: 65px;
    margin-left: 15px;
    margin-top: 35px;
    border: 2px solid #5200ff;
    border-radius: 5px;
    cursor: pointer;
}

.userData {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    margin-left: 10px;
    font-size: 13px;
}

.username {
    margin: 0;
}

.email {
    margin: 0;
}

.option {
    height: 50px;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 10px 3px 3px 20px;
    border-bottom: 1px solid #5200ff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.option-activ {
    height: 50px;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 10px 3px 3px 20px;
    border-bottom: 1px solid #5200ff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #5200ff;
    color: #fff;
}
.logout {
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin: 0px;
    padding: 3px 3px 3px 20px;
    border-bottom: 1px solid #5200ff;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.logout:hover {
    background-color: #5200ff;
    color: #ffffff;
}
.logout-icon {
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    margin-left: 10px;
}


.option:hover {
    background-color: #5200ff;
    color: #ffffff;
}

.tree-pointer {
    position: relative;
    display: flex;
  }
.pointer {
    display: block;
}
  
  .dropdown-menu {
    /* position: absolute; */
    width: 100%;
    top: 100%;
    left: 10px;
    background-color: #fff;
    border: 1px solid #0d00ff;
    display: flex;

  }
  
  .dropdown-menu ul {
    padding: 5px;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #1400f4;
    color: #fff;
  }
.datepicker {
    font-size: 10px;

}

.vaqt {
    display: flex;
}



.modal-add-plan {
    width: auto;
    height: auto;
}
  .modal-add-plan button {
    width: 600px;
    height: 500px;
    text-align: center;
    font-weight: bolder;
    border: 1px solid rgb(6, 102, 211);
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 50px;
  }
  .modal-add-plan{
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin-top: 300px;
    margin-left: 690px;
    padding-top: 50px;
    width: 400px;
    height: auto;
    background-color: rgb(152, 226, 246);
    color: black;
  }
  .close-emoji {
    margin-top: -35px;
    margin-right: 95px;
    margin-bottom: 14px;
    cursor: pointer;
    text-align: right;
    font-size: 30px;
  }
  .modal-add-plan h3 {
    font-family: Kanit;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.38px;
    text-align: center;
  }
  .modal-add-plan {
    font-family: Kanit;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.91px;
    text-align: center;
    padding-top: 25px;
  }
  .modal-add-plan button {
    border: 1px solid;
    border-radius: 5px;
    width: 170px;
    height: 47px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Kanit;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.38px;
    text-align: center;
    margin-top: 45px;
  }
  

  .date {
    border: 1px solid #0d00ff;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.new-plan-input textarea {
    border: 1px solid #0d00ff;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    padding: 20px;
}
.btn-ok button {
    padding-top: -10px;
    padding-bottom: 25px;
}

.addmodal {
    color: #000000;
    padding: 10px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}