body {
    font-family: Kanit;
}
.main-navbar {
    text-align: center;
    align-items: center;
    display: flex;
    height: 80px;
}
.main-navbar .navbar-title{
    display: flex;
    font-size: 30px;
    font-weight: 400;
    line-height: 44.85px;
    margin-left: 300px;
    margin-right: 1000px;
    text-align: center;
}
.main-navbar .btn-navbar {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
/* .center-title1 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin-top: 280px;
}
.main-center .center-title2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px;
}
.main-center .btn-get {
    margin-top: 30px;
    margin-left: 900px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 15px;
} */





  
  /* Center content styling */
  .main-center {
    text-align: center; /* Elementlarni markazga joylashtiradi */
  }
  
  .center-title1 {
    font-weight: bolder;
    font-size: 40px;
    margin-top: 300px; /* Mosligi siz uchun kerakli o'lchamga moslashtirilgan */
  }
  
  .center-title2 {
    font-size: 24px; /* Mosligi siz uchun kerakli o'lchamga moslashtirilgan */
    margin-bottom: 20px; /* Quyidagi elementdan pastlab qo'yilish */
  }
  
  .btn-get {
    display: block; /* Tekis joylashtirish */
    margin: 20px auto; /* Yuqoridan va pastidan 20 piksellik bosqich joylashtirish */
    padding: 10px 20px; /* Bosqichlar orasidagi masofani belgilash */
    background-color: #000000; /* Kerakli rang */
    color: #fff; /* Matn rangi */
    border: none; /* Chegarasizlikni o'chirish */
    border-radius: 5px; /* Radiusni belgilash */
    text-decoration: none; /* Linkning pastlab qo'yilishini to'xtatish */
  }
  