.modal-form {
  width: 100px;
  height: 150px;
}
.modal-form button {
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  border: 1px solid rgb(6, 102, 211);
  background-color: aqua;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 50px;
}
.modal-form-in {
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  margin-top: 300px;
  margin-left: 690px;
  padding-top: 50px;
  width: 700px;
  height: 300px;
  background-color: rgb(152, 226, 246);
  color: black;
}
.close-emoji {
  margin-top: -35px;
  margin-right: 95px;
  margin-bottom: 14px;
  cursor: pointer;
  text-align: right;
  font-size: 30px;
}
.modal-form-in h3 {
  font-family: Kanit;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.38px;
  text-align: center;
}
.modal-form-in p {
  font-family: Kanit;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.91px;
  text-align: center;
  padding-top: 25px;
}
.modal-form-in button {
  border: 1px solid;
  border-radius: 5px;
  width: 170px;
  height: 47px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Kanit;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.38px;
  text-align: center;
  margin-top: 45px;
}
